@import 'mixins';
@import 'variables';
@import 'icons';

$call-color-navy50: #f6f8fc;
$call-color-navy80: #eef2fa;
$call-color-navy100: #dee2f2;
$call-color-navy200: #c9d0e6;
$call-color-navy300: #b6bdd7;
$call-color-navy400: #8a92ba;
$call-color-navy600: #595e8a;
$call-color-navy800: #353761;
$call-color-navy900: #212242;
$call-color-white: #ffffff;
$call-color-purple50: #ededff;
$call-color-purple300: #825eeb;
$call-color-purple400: #6440c4;
$call-color-green300: #1fcca1;
$call-color-green400: #00998c;
$call-color-green500: #007a7a;
$call-color-red300: #f24d6b;
$call-color-red400: #d92148;
$call-color-mutegray: rgba(168, 168, 168, 0.38);

$call-asset-base-path: '../assets';

.call-root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.mainApp {
};

.center {
    align-items: center;
    justify-content: center
};

.right {
    align-items: center;
    justify-content: flex-end;
};

.column {
    display: flex;
    flex-direction: column
};

.row {
    display: flex;
    flex-direction: row
};

.content {
    margin-bottom: auto;
    width: 100%
};

.grow1 {
    flex-grow: 1
};

.grow2 {
    flex-grow: 2
};

.grow3 {
    flex-grow: 3
};

.grow4 {
    flex-grow: 4
};

.btn {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    height: 40px;
& label {
    cursor: inherit
};
background-color: $call-color-white;
};

.btnPrimary {
    background-color: $call-color-purple300;
    color: $call-color-white;
};

.btnBig {
    width: 180px;
    height: 50px;
    margin-left: 16px;
    margin-right: 16px
};

.btnMid {
    width: 80px;
    height: 40px;
};

.btns {
    margin-top: 16px
};

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
};

.hidden {
    display: none !important
};

.invisible {
    visibility: hidden
};


/*** views ***/
.view {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 24px;
};

.viewCall {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $call-color-navy900;
    color: $call-color-white;
};

/*** fonts ***/
.fontSmall {
    font-family: Avenir Next;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: $call-color-navy900;
    line-height: normal;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale
};

.fontNormal {
    font-family: Avenir Next;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: $call-color-navy900;
    line-height: 1.43;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale
};

.fontMidBig {
    font-family: Avenir Next;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: $call-color-navy900;
    line-height: 1.33;
    letter-spacing: -0.25px;
    text-rendering: optimizelegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale
};

.font16 {
    font-family: Avenir Next;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: $call-color-navy900;
    line-height: 1.25;
    letter-spacing: -0.15px;
    text-rendering: optimizelegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale
};

.font20 {
    font-family: Avenir Next;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.25px;
    text-rendering: optimizelegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale
};

.font24 {
    font-family: Avenir Next;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: $call-color-navy900;
    line-height: 1.33;
    letter-spacing: -0.25px;
    text-rendering: optimizelegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale
};

.fontBig {
    font-family: Avenir Next;
    height: 32px;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.25px;
    text-rendering: optimizelegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale
};

.fontHeavy {
    font-weight: 500
};

.fontDemi {
    font-weight: 600
};

.fontColorWhite {
    color: $call-color-white
};

.fontReadOnlyColor {
    color: $call-color-navy600
};

/*** components ***/
.formContainer {
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    border-radius: 4px;
    border: solid 1px #dee2f2;
    background-color: $call-color-white;
    padding-left: 48px;
    padding-right: 48px
};

.field {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    border-radius: 4px;
    border: solid 1px $call-color-navy200;
    background-color: $call-color-white;
    margin-bottom: 16px
};

.dialField {
    width: 312px
};

.fieldInvalid {
    border: solid 1px $call-color-red300;
};

.fieldLabel {
    display: inline-block;
    height: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
&:first-of-type {
    margin-top: 38px
}
};

.dialTitle {
    margin-bottom: 32px
};

/*** misc ***/
.remoteProfile {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 24px;
};

.peerName {
    min-height: 32px;
    height: auto;
    text-align: center;
    word-break: break-all;
    margin-bottom: 4px;
};

.connectionInfo {
    height: 20px;
    margin-bottom: 24px;
};

.peerStateDiv {
    align-items: center;
    margin-bottom: 97px;
};

.peerMuteIcon {
    width: 32px;
    height: 32px;
    background-image: url($call-asset-base-path + '/' + 'ic-callkit-audio-off-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 8px;
};

.peerMuteLabel {
    display: block;
};

.peerVideoMuteIcon {
    width: 40px;
    height: 40px;
    background-image: url($call-asset-base-path + '/' + 'icon-camera-off.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 16px;
};

.peerVideoMuteLabel {
    display: block;
};

.callButtons {
    position: relative
};

.callButtonsWidget {
    position: absolute;
    bottom: 40px
};

.btnCircle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $call-color-white;
    border-color: transparent;
    cursor: pointer;
&::before {
    content: '';
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%
};
btn-circle:hover::before {
    background-color: $call-color-mutegray
}
};

.btnCall {
    margin-left: 10px;
    margin-right: 10px
};

.btnVideoAccept {
    background-color: #2eba9f;
    background-image: url($call-asset-base-path + '/' + 'icon-call-video.svg');
    background-repeat: no-repeat;
    background-position: center;
&:hover {
    background-color: $call-color-green500
}
};

.btnAccept {
    background-color: #2eba9f;
    background-image: url($call-asset-base-path + '/' +'ic-callkit-audio.svg');
    background-repeat: no-repeat;
    background-position: center;
&:hover {
    background-color: $call-color-green500
}
};

.btnMute {
    background-color: $call-color-mutegray;
    background-image: url($call-asset-base-path + '/' + 'ic-callkit-audio-off-white.svg');
    background-repeat: no-repeat;
    background-position: center;
&:hover {
    background-color: rgba(168, 168, 168, 0.5)
}
};

.btnUnmute {
    background-color: $call-color-white;
    background-image: url($call-asset-base-path + '/' + 'ic-callkit-audio-off-black.svg');
    background-repeat: no-repeat;
    background-position: center;
&:hover {
    background-color: rgba(168, 168, 168, 0.5)
}
};

.btnStopVideo {
    background-color: $call-color-mutegray;
    background-image: url($call-asset-base-path + '/' + 'ic-video-thumbnail-white.svg');
    background-repeat: no-repeat;
    background-position: center;
&:hover {
    background-color: rgba(168, 168, 168, 0.5)
}
};

.btnStartVideo {
    background-color: $call-color-white;
    background-image: url($call-asset-base-path + '/' + 'ic-video-thumbnail-black.svg');
    background-repeat: no-repeat;
    background-position: center;
&:hover {
    background-color: rgba(168, 168, 168, 0.5)
}
};

.btnEnd {
    background-color: #e53157;
    background-image: url($call-asset-base-path + '/' + 'ic-callkit-end.svg');
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
&:hover  {
    background-color: #a30e2d;
}
};

.videoView {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
};

.videoViewDiv {
    position: absolute;
    overflow: hidden
};

.videoViewStopped {
& .videoView {
    visibility: hidden;
}
};

.videoFull {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s;
};

.videoSmall {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 200px;
    height: 150px;
    border-radius: 8px;
    background-color: $call-color-navy300;
    transition: all 1s
};

.videoHidden {
    opacity: 0;
    transition: all 0.5s;
    display: none
};

.callBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden
};

.callForeground {
  z-index: 1;
};

.btnDecline {
    background-color: rgba(0, 0, 0, 0.12);
    background-image: url($call-asset-base-path + '/' + 'ic-callkit-decline.svg');
    background-repeat: no-repeat;
    background-position: center;
&:hover  {
    background-color: rgba(0, 0, 0, 0.38);
}
};

.closeDiv {};

.btnClose {
    width: 248px;
    height: 48px;
    border: none;
    border-radius: 4px;
    margin-bottom: 28px;
    background: rgba(255, 255, 255, 0.08);
    color: $call-color-white;
&:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.28)
}
};

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0
    }
    to {
        bottom: 24px;
        opacity: 1
    }
};

@keyframes fadeout {
    from {
        opacity: 1
    }
    to {
        bottom: 0;
        opacity: 0
    }
};
